.search-form {
  display: flex;
  width: 20vw;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-input,
.search-button {
  height: 2.5rem;
  border-radius: 0;
  border: solid 1px #000;
  outline: none;
}

.search-input {
    width: 100%;
}
